body{
    background:  url("../img/background.svg") no-repeat center center fixed; 
    background-color: rgb(149, 192, 122);
    background-size: cover;
    font-family: 'Spectral', serif;
    content: center;
    margin: 0rem !important;
    padding: 0rem !important;
    overflow-x: hidden !important;
}

#logintext {
    width: 90%;
}

.summarytable {
    widows: 90%;
}

#loading {
    width: 200px !important;
    height: 25px !important;
}