@import url('https://fonts.googleapis.com/css?family=Mate+SC');

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Mate SC', serif;
}

a {
  text-decoration: none !important;
}

#city-outline {
  transform: translateY(-100%);
  top: 100%;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

#particles-js {
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

#title {
  color: #348fe9;
  font-size: 7em;
  position: relative;
  margin-top: 1rem;
  margin-right: 1rem;
}

#logo {
  width: 13rem; 
  height: 13rem; 
  margin: 0 auto;
}

#title-container {
  z-index: 1;
  padding: 1rem 1rem;
  position: absolute;
  margin-top: -50%;
  transition: transform 0.25s ease, margin-top 1.5s cubic-bezier(0,.84,.51,1.17);
  display: flex;
}
#title-container.active {
  margin-top: 6rem;
}
#title-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.center {
  display: flex; 
  align-content: center; 
  justify-content: center
}